   
    .gradovi{
      font-size: 25px;
      font-family:Arial, Helvetica, sans-serif;
      }
    
    .listaGradova{
      font-size: 25px;
      font-family:Arial, Helvetica, sans-serif;
      margin: 40px;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
    .dodaj{
      margin-left: 30px;
    }
    .width{
      width: 25%;
    }
    .label{
      color: #adadad;
      font-size: 16px;
      font-weight: bold;
    }
    .position{
      text-align: left;
    }