   
    .gradovi{
      font-size: 25px;
      border: none;
      background: none;
      outline: none;
      font-family: 'Roboto', sans-serif;
      color: #adadad;
      font-weight: bold;
    }
    
    .listaGradova{
      font-size: 25px;
      border: none;
      background: none;
      outline: none;
      font-family: 'Roboto', sans-serif;
      color: #adadad;
      font-weight: bold;
      margin: 40px;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
    .dodaj{
      margin-left: 30px;
    }