@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    padding: 50px 50px;
    border: 2px solid #adadad;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .div-close{
    position: relative;
    left: 12.5rem;
    bottom: 2rem;
  }
  .close{
   color: #adadad;
   position: absolute;
   text-align: right;
   cursor: pointer;
  }
  .title{
    color: #adadad;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  .cityName{
  margin: 30px 0;
  }
  .cityName-input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #adadad;
  }
  .label{
    color: #adadad;
    font-size: 16px;
    font-weight: bold;
  }
  .position{
    text-align: left;
    margin-top: 0px;
  }
  #long::-webkit-outer-spin-button,
  #long::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
#lat::-webkit-outer-spin-button,
#lat::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}