@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 11px 22px 3px rgba(0,0,0,0.65);
-webkit-box-shadow: 10px 11px 22px 3px rgba(0,0,0,0.65);
-moz-box-shadow: 10px 11px 22px 3px rgba(0,0,0,0.65);
  padding: 50px 50px;
}

.div-close{
  position: relative;
  left: 12.5rem;
  bottom: 2rem;
}
.close{
 color: #adadad;
 position: absolute;
 text-align: right;
 cursor: pointer;
}
.title{
  color: #adadad;
  font-weight: bold;
}
.name{
  position: relative;
  border: 2px solid #adadad;
  border-radius: 15px;
  margin: 30px 0;
}
.name input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: #adadad;
  font-weight: bold;
}
.name input::placeholder{
  color: #adadad;
}

.name input:focus ~ span::before,
.name input:valid ~ span::before{
  width: 100%;
}
div .search::-webkit-outer-spin-button,
.search::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.editJmbg::-webkit-outer-spin-button,
.editJmbg::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.add{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}
.add:hover{
  border-color: #2691d9;
  transition: .5s;
  
}

.exit{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #db4646;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
.exit:hover{
  border-color: #db4646;
  transition: .5s;
}

.options{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: #adadad;
  font-weight: bold;
  border: none;
}