@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.loading, .error{
    margin-top: 50px;
}
.tabela{
    width: 100%;
    margin-top: 50px;
    font-size: 20px;
    justify-content: center;
}

th{
    padding: 12.5px 0;
}

 .lista:hover{
    color: #92c7eb;
    cursor: pointer;
    transition: .5s;
}

.edit{
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  margin-right: 1rem;
  background: #2691d9;
  height: 40px;
  border: 1px solid #2691d9;
  border-radius: 25px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 18px;
}
.edit:hover{
    border-color: #adadad;
    cursor: pointer;
    transition: .5s;
}
.delete{
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    margin-right: 1rem;
    background: #db4646;
    height: 40px;
    border: 1px solid #db4646;
    border-radius: 25px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    font-size: 18px;
   }
   .delete:hover{
    border-color: #adadad;
    cursor: pointer;
    transition: .5s;
}
@media only screen and (max-width: 600px) {

    th{
      font-size: 10px;
    }
    .edit, .delete{
        height: 30px;
        font-size: 10px;
        margin: 0;
        letter-spacing: 0;
    }

  }


  @media only screen and (max-width: 350px) {


    .tabela-div{
     overflow-x: auto;
    }
 
 
 
   }