@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.tr--header_tr {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 18px;
  }
  
  .tr--header_tr th {
    width: 8%;
  }
  
  .hr--horizontalna_linija {
    border: 1px solid black;
    max-width: 110rem;
    width: 100%;
    margin-top: 15px;
  }
  
  .tr--main_dio_tabele {
    display: flex;
    justify-content: space-evenly;
  }
  
  .tr--main_dio_tabele:hover {
    background-color: #4f9aa9;
  }
  
  .tr--main_dio_tabele th {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .th--button_1 {
    background-color: #ffd700;
    border: 0;
    border-radius: 5px;
    font-family: "Libre Baskerville", serif;
    height: 25px;
    width: 90px;
    margin: 3px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .th--button_1:hover {
    background-color: #daa520;
  }
  
  .th--button_2 {
    background-color: #f44336;
    border: 0;
    border-radius: 5px;
    font-family: "Libre Baskerville", serif;
    height: 25px;
    font-weight: 700;
    width: 90px;
    margin: 3px;
    cursor: pointer;
  }
  
  .th--button_2:hover {
    background-color: #9f3c3c;
  }