.tabela--tabela_pacijenti {
  display: flex;
  flex-direction: column;
}

.tabela--tabela_pacijenti tbody {
  overflow-y: scroll;
  height: 600px;
}

.tabela--tabela_pacijenti tbody::-webkit-scrollbar {
  width: 10px;
}

.tabela--tabela_pacijenti tbody::-webkit-scrollbar-track {
  background-color: #e9f4fb;
}

.tabela--tabela_pacijenti tbody::-webkit-scrollbar-thumb {
  background-color: #77d5f7;
}

.grad--- {
  margin-right: 15px;
}

.tr--header_tr {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  font-size: 18px;
  box-shadow: rgb(50 50 93 / 25%) 0px 0px 0px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;  
  }

.tr--header_tr th {
  width: 15%;
}


.tr--main_dio_tabele {
  display: flex;
  justify-content: space-evenly;
}

.tr--main_dio_tabele:hover {
  color: #77d5f7;
    cursor: pointer;
    transition: .5s;
}

.tr--main_dio_tabele th {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px 0;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.th--button_1 {
  border:1px solid #77d5f7;
  background-color:#0078ae;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold; 
  font-size:18px;
  font-weight:normal;
  color:#ffffff;
  padding:1px;
  cursor:pointer;
  height:35px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding: 0 10px;
  text-shadow:1px 1px 0px #063A46;
  text-transform: uppercase;
}

.th--button_1:hover {
  border:1px solid #448dae;
  background-color:#79c9ec;
  color:#026890;
  text-shadow:1px 1px 0px #fff;
}

.th--button_2 {
  border:1px solid #fa9789fa;
  background-color: #d12f19;
  background-repeat:no-repeat;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold; 
  font-size:18px;
  font-weight:normal;
  color:#ffffff;
  padding: 0 10px;
  cursor:pointer;
  height:35px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding: 4px;
  text-shadow:1px 1px 0px #063A46;
  text-transform: uppercase;
  line-height: 24px;
}

.th--button_2:hover {
  border:1px solid #d12f19;
  background-color:#fa9789fa;
  color:#c52c17d8;
  text-shadow:1px 1px 0px #fff;
}

@media screen and (max-width: 950px) {
  .tr--header_tr {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 14px;
  }

  .tr--main_dio_tabele {
    display: flex;
    font-size: 14px;
  }
}

@media screen and (max-width: 730px) {
  .tr--header_tr {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 14px;
  }

  .tr--main_dio_tabele {
    display: flex;
    font-size: 14px;
  }

  .th--button_1,  .th--button_2 {
    height: 22px;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0;
    border: 0;
    font-weight: 700;
    cursor: pointer;
  }

}

@media screen and (max-width: 580px) {
  .tr--header_tr {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 10px;
  }

  .tr--main_dio_tabele {
    display: flex;
    font-size: 10px;
  }

  .th--button_1,  .th--button_2 {
    height: 18px;
    font-size: 10px;
    margin: 0;
    letter-spacing: 0;
    border: 0;
    font-weight: 700;
    cursor: pointer;
  }


}

@media screen and (max-width: 350px) {
  .tr--header_tr {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 8px;
  }

  .tr--main_dio_tabele {
    display: flex;
    font-size: 8px;
  }

  .th--button_1,  .th--button_2 {
    height: 14px;
    font-size: 8px;
    margin: 0;
    letter-spacing: 0;
    border: 0;
    font-weight: 700;
    cursor: pointer;
  }


}
